<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Selected Exercises</title>
  </head>
  <body>
    <h1>Selected Exercises</h1>
    <ul>
      <% for (let i = 0; i < exercise.length; i++) { %>
        <div>
          <p><%= exercise[i].name %> (Target: <%= exercise[i].bodyPart %>, Equipment: <%= exercise[i].equipment %>)</p>
          <form action="/removeExercise" method="post">
            <input type="hidden" name="item" value="<%= exercise[i].name %>">
            <input type="hidden" name="user" value="<%= userId %>">
            <input type="submit" value="Remove">
          </form>
        </div>
      <% } %>
    </ul>
    <a href="/exercise">Back to Filter</a>
  </body>
</html>